<app-menu-principal></app-menu-principal>
<div class="contato-container column">
    <div class="contato column">
        <h1 class="background">Vamos conversar?</h1>
    </div>
    <div class="line"></div>
    <div class="row pt-2">
        <div class="left column">
            <h2>Entre em Contato Conosco!</h2>
            <p>Estamos ansiosos para impulsionar a sua presença digital! Seja para alavancar o seu negócio, 
                aumentar a visibilidade da sua marca ou conquistar novos clientes, nossa equipe apaixonada e 
                especializada em marketing digital está pronta para ajudar.
            </p>
            <p>Queremos ouvir sobre os seus desafios e objetivos. Juntos, podemos criar estratégias 
                personalizadas que transformarão suas ideias em resultados concretos. Não hesite em nos 
                contatar para uma conversa descontraída e sem compromisso. Sua jornada para o sucesso online começa aqui!
            </p>

        </div>
        <div class="right column">
            <h3>Ligue para nós agora mesmo ou fale com um especialista pelo WhatsApp. Estamos prontos para começar a trabalhar com você e fazer o seu negócio brilhar no mundo digital!</h3>
            <div class="row">
                <a class=" column" href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <a class=" column" href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank"><h4>(39) 91957556</h4></a>  
            </div>
            <h3>Nosso Email:</h3>
            <a href="mailto:contato@lecomercee.com.br">contato@lecomercee.com.br</a>
            <h3>Conheça nossas redes sociais</h3>
            <div class="row">
                <a href="https://www.linkedin.com/company/le-commerce/?viewAsMember=true" target="_blank"><div class="squad column"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a>
                <a href="https://www.instagram.com/lecommercee/" target="_blank"><div class="squad column"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
                <a href="https://www.facebook.com/lecommercee?mibextid=LQQJ4d" target="_blank"><div class="squad column"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<a class="whats column" href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>