<app-menu-principal></app-menu-principal>
<div class="contato-container column">
    <div class="contato column">
        <h1>Vamos conversar?</h1>
        <h2>Ligue para nós agora mesmo ou fale com um especialista pelo WhatsApp. Estamos prontos para começar a trabalhar com você e fazer o seu negócio brilhar no mundo digital!</h2>

    </div>
    <!-- <div class="line"></div> -->
    <div class="row pt-2 background">
        <div class="left column">
            <h2>Entre em Contato Conosco!</h2>
            <p>Estamos ansiosos para impulsionar a sua presença digital! Seja para alavancar o seu negócio, 
                aumentar a visibilidade da sua marca ou conquistar novos clientes, nossa equipe apaixonada e 
                especializada em marketing digital está pronta para ajudar.
            </p>
            <p>Queremos ouvir sobre os seus desafios e objetivos. Juntos, podemos criar estratégias 
                personalizadas que transformarão suas ideias em resultados concretos. Não hesite em nos 
                contatar para uma conversa descontraída e sem compromisso. Sua jornada para o sucesso online começa aqui!
            </p>

        </div>
        <div class="right column">
            <div class="inner column mobile">
                <a href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank">
                    <div class="row-always bord">    
                        <h4>WhatsApp: </h4>        
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>    
                        <a href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank">(13) 99195-7556</a>
                    </div>
                </a>
                <a href="callto:5513991957556" target="_blank">
                    <div class="row-always bord">
                        <h4>Ligue:</h4>
                        <a href="callto:5513991957556" target="_blank">(13) 99195-7556</a>
                    </div>
                </a>
                <a href="mailto:contato@lecomercee.com.br" target="_blank">
                    <div class="row-always bord">
                        <h4>Email:</h4>
                        <a href="mailto:contato@lecomercee.com.br">contato@lecomercee.com.br</a>
                    </div>
                </a>
                
            </div> 
            <div class="inner column web">
                <div class="row-always bord">    
                    <h4>WhatsApp: </h4>        
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>    
                    <a href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank">(13) 99195-7556</a>
                </div>
                <div class="row-always bord">
                    <h4>Ligue:</h4>
                    <a href="callto:5513991957556" target="_blank">(13) 99195-7556</a>
                </div>
                <div class="row-always bord">
                    <h4>Email:</h4>
                    <a href="mailto:contato@lecomercee.com.br">contato@lecomercee.com.br</a>
                </div>
            </div>   
            <h3>Conheça nossas redes sociais:</h3>
            <div class="row-always">
                <a href="https://www.linkedin.com/company/le-commerce/?viewAsMember=true" target="_blank"><div class="squad column"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a>
                <a href="https://www.instagram.com/lecommercee/" target="_blank"><div class="squad column"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
                <a href="https://www.facebook.com/lecommercee?mibextid=LQQJ4d" target="_blank"><div class="squad column"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
            </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>
<a class="whats column" href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
</a>