.contato-container{
    margin-top: 90px;
    justify-content: space-evenly;
    font-family: 'Open Sans', cursive;
    background-color: rgb(90, 90, 90);
}
.contato{
    background-image: -webkit-radial-gradient(#44C4F1, #032f49);
    height: 50vh;
    width: 100%;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}
.pt-2{
    min-height: 50vh;
    width: 100%;
    background-image: -webkit-radial-gradient();
}
.line{
    min-height: 2px;
}
h1{
    font-size: 5vw;
    font-weight: 100;
    padding: 5px;
    color: white;
    text-shadow: #0f45b9 0px 0px 13px ;
    letter-spacing: 2px;
}
h2{
    text-align: center;
    font-size: 1.5vw;
    width: 50%;
    color: #fff;
}
.left{
    align-items: flex-start;
    padding: 50px 0;
}
.left h2{
    font-size: 2.3vw;
    color: #44C4F1;
    width: 100%;
    text-align: left;
}
.left p{
    font-size: 1.4vw;
    margin: 10px 0;
    width: 80%;
    color: #fff;
}
.inner{
    align-items: flex-start;
    width: 50%;
}
.inner h4{
    font-size: 20px;
    color: #44C4F1;
    margin-right: 15px;
}
.inner a:hover{
    
    transition: .2s;
    transform: scale(1.1);
    margin-left: 5px;
}
.inner a{
    color: #fff;
    margin: 10px 5px;
}
.inner i{
    color: #fff;
    font-size: 20px;
    margin: auto 5px;
}
.right a{
    font-size: 20px;
    margin: 10px 0;
    color: #fff;
}
.right h3{
    color: #fff;
    margin-top: 30px;
    border-bottom: 1px solid #44C4F1;
}
.squad{
    border: 2px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 5px;
}
.squad i{
    font-size: 30px;
}
a .squad:hover{
    transform: scale(1.1);
    background-color: #fff;
}
a .squad:hover i{
    color: #44C4F1;
}
@media screen and (max-width:745px){
    .contato-container{
        margin-top: 0;
    }
    .pt-2{
        padding: 10px 0 50px 0;
    }
    h1{
        font-size: 9vw;
    }
    h2{
        font-size: 5vw;
        width: 85vw;
        margin-top: 10px;
    }
    .left h2{
        font-size: 6vw;
    }
    .left p{
        font-size: 5vw;
        width: 90%;
    }
    .inner{
        width: 100%;
    }
    .bord{
        border: 1px solid #fff;
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
    }
}