.banner{
    padding: 80px 0;
    background-image: url(../../../assets/images/Banner-1.jpg);
    background-size: cover;
    margin-top: 90px;
}
.left img{
    width: 90%;
}
.right{
    align-items: center;
}
h1{
    font-size: 78px;
    text-align: center;
    color: #fff;
}
.row{
    margin-top: 30px;
}
span{
    color: #9931FF;
    text-shadow: #000000 0px 0px 13px ;
}
h3, h2{
    font-family: 'Open Sans', cursive;
    color: #fff;
    
}
span.blue{
    color: #44C4F1;
}
h3{
    font-size: 45px;
    margin-bottom: 40px;
}
h2{
    text-align: center;
    font-size: 55px;
    font-weight: 800;
    text-shadow: #000000 0px 0px 13px ;

}
@media screen and (max-width:745px){
    .banner{
        align-items: center;
        padding: 50px 0;
        margin-top: 0;
    }
    h1, h2, h3{
        text-align: center;
        width: 88vw;
    }
    h1{
        font-size: 10vw;
    }
    h2{
        font-size: 6vw;
    }
    h3{
        font-size: 5vw;
    }
    p{
        width: 85vw;
        margin: 30px 0;
    }
}