footer .developed{
    background-color: black;
    width: 100%;
    height: 30px;
}
.developed p, a{
    color: blueviolet;
    font-family: 'Roboto Slab';
    font-size: 14px;
    margin-left:  5px;
}
.developed a:hover{
    text-shadow: #fff 0 0 10px;
    color: #fff;
   
}