<footer class="column">
    <div class="links row">
        <div class="pt column">
            <ul><h5>Páginas:</h5>
                <li routerLink="/home" >Home</li>
                <li routerLink="/quem-somos">Sobre nós</li>
                <li routerLink="/contato">Contato</li>
            </ul>
        </div>
        <div class="pt column mobile">
            <h4>Redes Sociais:</h4>
            <div class="row-always">
                <a href="https://www.linkedin.com/company/le-commerce/?viewAsMember=true" target="_blank"><div class="squad column"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a>
                <a href="https://www.instagram.com/lecommercee/" target="_blank"><div class="squad column"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
            </div>
        </div>
        <div class="pt column">
            <img routerLink="/home" id="footerLogo" src="../../../assets/images/logotransparente2.png" alt="">
            <h3>"Levanta-te, pois, porque te pertence este negócio, e nós seremos contigo; esforça-te, e age. - Esdras 10:4"</h3>
        </div>
        <div class="pt column web">
            <h4>Redes Sociais:</h4>
            <div class="row">
                <a href="https://www.linkedin.com/company/le-commerce/?viewAsMember=true" target="_blank"><div class="squad column"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a>
                <a href="https://www.instagram.com/lecommercee/" target="_blank"><div class="squad column"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
            </div>
        </div>
    </div>
    <!-- <div class="developed row">
        <p>All rights reserved &copy; developed by </p>
        <a href="">Vargas</a>
    </div> -->
</footer>