footer{
    background-color: black;
    width: 100%;
    height: 50px;
}
p, a{
    color: blueviolet;
    font-family: 'roboto';
    font-size: 18px;
    margin-left:  5px;
}
a:hover{
    text-shadow: #fff 0 0 10px;
    color: #fff;
   
}