<div class="banner-3 column">
    <div class="banner-in column">
        <div class="row">
            <div class="left column">
                <p>Fazer a integração do seu e-commerce aos grandes marketplaces do 
                    mercado pode ser uma excelente estratégia para aumentar o alcance da sua loja virtual.
                </p>
                <p>Isso porque esses sites são responsáveis pelos investimentos 
                    em marketing e geração de tráfego. Ou seja, além de garantir 
                    presença em mais um canal digital, o dono do e-commerce economiza verba.
                </p>
            </div>
            <div class="right column">
                <div class="content column">
                    <div class="content-in column">
                        <h3>COLOQUE EM PRÁTICA SEUS PROJETOS</h3>
                        <div class="h1 column">
                            <h1>ATIVE SUA</h1>
                            <h1>LOJA VIRTUAL</h1>
                        </div>
                        <h4>INTEGRAÇÃO DE LOJAS FÍSICAS PARA LOJAS VIRTUAIS</h4>
                    </div>
                </div>
                <img id="logo" src="../../../assets/images/logotransparente2.png" alt="">
            </div>
        </div>
        <a href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank"><button>Peça já um orçamento</button></a>
    </div>
</div>