<app-menu-principal></app-menu-principal>
<div class="quem-somos-container column">
    <div class="quem-somos-inner column">
        <div class="text-box column">
            <img class="web" src="../../../assets/images/logotransparente2.png" alt="">
            <h2 class="mobile">Quem somos:</h2>
            <h3>A Le Commerce é uma agencia especializada em potencializar negócios digitais de 
                pequenas e médias empresas. Acreditamos na conexão do seu produto com o seu cliente. 
                Para que isso aconteça, formamos um time criativo, comprometido e apaixonado por 
                atendimento, tecnologia e transformações.
            </h3>
            <p>Especialistas em Marketplaces, temos o objetivo de orientar e desenvolver o 
                planejamento dentro dos canais de marketplaces.
            </p>
            <p>Sempre em busca da melhoria continua, oferecemos aquilo que gostaríamos de 
                receber aos nossos parceiros lojistas. Afinal, o foco do nosso negócio não é 
                só implantar a sua loja nos principais marketplaces do Pais, mas sim, aumentar 
                o seu faturamento de forma continua e saudável.
            </p>
            <p>
                Por isso precisamos estar 100% alinhados com os nossos clientes.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>