.row{
    padding: 80px 18%;
    gap: 7%;
}
h2, h5{
    text-align: center;
    color: #fff;
}
h2{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 20px;
}
h5{font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
}
button{
    padding: 8px 16px;
    margin: 15px auto;
    border-radius: 15px;
    background-color: darkviolet;
    color: #fff;
}