<div class="row background">
    <div class="card column">
        <img src="" alt="um icone da cor do botao">
        <h2>lorem ipsum dolor </h2>
        <h5>Lorem, ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Cumque impedit molestias error
        </h5>
        <h5>obcaecati, facilis reiciendis nisi 
            animi repellat quis deleniti hic. 
            Totam, maiores. Sit omnis quod quo, 
            libero aliquam assumenda!
        </h5>
        <button>SAIBA MAIS</button>
    </div>
    <div class="card column">
        <img src="" alt="um icone da cor do botao">
        <h2>lorem ipsum dolor </h2>
        <h5>Lorem, ipsum dolor sit amet 
            consectetur repellat quis deleniti hic. 
            Totam, maiores. Sit omnis quod quo,
            adipisicing elit. 
            Cumque impedit molestias error
        </h5>
        <h5>obcaecati, facilis reiciendis nisi 
            animi repellat quis deleniti hic. 
            Totam, maiores. Sit omnis quod quo, 
            libero aliquam assumenda!
        </h5>
        <button>SAIBA MAIS</button>
    </div>
    <div class="card column">
        <img src="" alt="um icone da cor do botao">
        <h2>lorem ipsum dolor </h2>
        <h5>Lorem, ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Cumque impedit molestias error
        </h5>
        <h5>obcaecati, facilis reiciendis nisi 
            animi repellat quis deleniti hic. 
            Totam, maiores. Sit omnis quod quo, 
            libero aliquam assumenda!
        </h5>
        <button>SAIBA MAIS</button>
    </div>
</div>