nav {
  height: 90px;
  width: 100%;
  z-index: 500;
  position: fixed;
  font-family: 'roboto slab', sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  background-color: rgb(35, 35, 35);
  box-shadow: rgba(0, 0, 0, 0.309) 3px 3px 10px 10px;
  justify-content: space-evenly;
  margin-top: -90px;
}

nav:hover {
  box-shadow: rgba(215, 141, 255, 0.139) 3px 3px 10px 10px;
}

.checkbtn {
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav img {
  cursor: pointer;
  width: 200px;
}

ul {
  display: flex;
  flex-direction: row;
  margin-right: 20vw;
  align-items: center;
  justify-content: center;
}

li {
  /* background-image: -webkit-linear-gradient(272deg, rgb(136,62,230), rgb(100,109,199), rgb(46,157,199));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */
  color: rgb(100, 109, 199);
  font-size: 25px;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 25px;
  border: transparent 2px solid;
  margin: 10px;
}

li:hover {
  border: rgb(136, 62, 230) 2px solid;
  color: rgb(46, 157, 199);
}

i {
  margin-left: 5px;
}

@media screen and (max-width:745px) {
  .checkbtn {
    position: absolute;
    display: flex;
    color: rgb(136, 62, 230);
    font-size: 30px;
    right: 3vw;
    z-index: 2;
  }

  nav {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0px;
    align-items: center;
    position: relative;
    width: inherit;
    box-shadow: none;
    height: 100px;
    margin-top: 0;
  }

  nav img {
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  li#open:hover ul.submenu-ul,
  .fa-caret-right {
    display: none;
  }

  nav ul {
    position: fixed;
    flex-direction: column;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 99px;
    margin-right: -1000px;
    margin-bottom: 50px;
    margin-left: -30px;
    opacity: 0;
    background-color: rgb(35, 35, 35);
  }

  nav ul li {
    display: flex;
    padding: 16px 0;
    font-weight: 800;
    font-size: 25px;
    margin: 10px;
    width: 95%;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid rgb(100, 109, 199);
    color: rgb(46, 157, 199);
  }

  nav ul li:first-of-type {
    margin-top: 50px;
  }

  #check:checked~.checkbtn #rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  #check:checked~ul {
    transition: all .3s;
    -webkit-transition: all .3s;
    display: flex;
    margin-right: 0px;
    height: auto;
    opacity: 1;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 525px 114px 278px;
  }
}