@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@font-face{
    font-family: 'Pattanakarn Regular';
    src: local('Pattanakarn Regular'), url('../../leecommerce/src/assets/fonts/FontsFree-Net-Pattanakarn-Regular.ttf');
}


*{
    list-style: none;
    outline: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: .5s;
}
h1{
    font-family: 'Luckiest Guy', cursive;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.row-always{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left, .right{
    width: 40vw;
}
.web{
    display: flex;
}
.mobile{
    display: none;
}
.background{
    background: linear-gradient(45deg, rgb(7, 7, 7) 25%, rgb(35, 35, 35) 25%, rgb(35,35,35) 75%, rgb(7,7,7) 75%);
    background-size: 4px 4px;
}
.color-background{
    background-image: -webkit-linear-gradient(0deg, rgb(136,62,230), rgb(25,131,223), rgb(136,62,230));
    padding: 80px 0;
    width: 100%;
}
.line{
    background-image: -webkit-linear-gradient(0deg, rgb(184, 126, 255), rgb(25,131,223), rgb(184, 126, 255));
    height: 5px;
    width: 100%;
}
button{
    border: none;
}
button:hover{
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
}
button:active{
    transform: translateY(4px);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-image: -webkit-linear-gradient(90deg, #9931FF, #44C4F1);
    border-radius: 5px; /* Raio da borda da alça */
}
.whats{
    position: fixed;
    top: 90vh;
    right: 3vw;
    color: #fff;
    border-radius: 50%;
    background-color: green;
    width: 41px;
    height: 42px;
    z-index: 5;
}
.whats i{ 
    padding: 0;
    font-size: 51px;
}
.whats:hover{
    transform: scale(1.2);
}
@media screen and (max-width:745px){
    .row{
        flex-direction: column;
    }
    .left, .right{
        width: 90vw;
    }
    .web{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .whats{
        top: 87vh;
        right: 4vw;
    }
}