.presentation-container{
    background-image: url(../../../assets/images/Banner-ecommerce.png);
    padding: 180px 0;
    background-size: cover;
    margin-top: 90px;
}
h1, h2, p, h3, button{
    margin-left: 30vw;
}
h1{
    color: #fff;
    text-shadow: rgb(184, 126, 255) 0px 0px 6px;
    font-size: 50px;
}
h2{
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
}
p{
    color: rgb(25,131,223);
    width: 600px;
    text-align: center;
    font-size: 20px;
}
button{
    width: 170px;
    height: 52px;
    font-size: 19px;
    border-radius: 15px;
    color: #fff;
    background-color: rgb(25,131,223);
}
button:hover{
    background-color: blueviolet;
}