<div class="presentation-container row"> 
    <div class="left column">
        <img src="../../../assets/images/figure-2.png" alt="">
    </div>
    <div class="right column">
        <div class="presentation-container-in column">
        <h1>MAXIMIZE SUA VISIBILIDADE</h1>
        <h2>CONSTRUA UMA PRESENÇA MAIS FORTE NA INTERNET</h2>
        <p>A internet é uma enorme fonte de informação e cheia de possibilidades. No entanto, é muito fácil se perder nesse mar de informações. Para ter sucesso, 
            você precisa ter uma presença Online forte e consistente para otimizar seu Marketplace e
            E-commerce.
        </p>   
        <h3>Escolha a ferramenta certa para atrair o cliente ao seu negócio Online.</h3>
        <a href="https://api.whatsapp.com/send?phone=5513991957556&text=Ol%C3%A1!%20Gostaria%20de%20falar%20com%20um%20membro%C2%A0da%C2%A0equipe%20le-coommerce" target="_blank"><button> Fale conosco</button></a>
    </div>
    </div>
    
</div>