.presentation-container{
    background-image: url(../../../assets/images/Banner-2.jpg);
    padding: 180px 20px;
    background-size: cover;
    margin-top: 90px;
    align-items: flex-end;
}
.presentation-container-in{
    width: 60vw;
}
h1{
    color: #9931FF;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: #000000 0px 0px 13px ;
}
h2{
    font-size: 35px;
    color: #44C4F1;
    font-family: 'Open Sans', cursive;
    font-weight: 900;
}
h3{
    text-transform: uppercase;    
    color: #fff;
    font-family: 'Open Sans', cursive;
    font-weight: 500;
    margin: 0 auto 30px;
}
p{
    color: #fff;
    width: 65%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Open Sans', cursive;
    margin: 30px;

}
button{
    width: 170px;
    height: 52px;
    font-size: 19px;
    border-radius: 15px;
    color: #fff;
    background-color: rgb(25,131,223);
}
button:hover{
    background-color: blueviolet;
}
@media screen and (max-width:745px){
    .presentation-container{
        margin-top: 0;
        background-image: url(../../../assets/images/Banner-1.jpg);
        align-items: center;
        padding: 50px 0;
    }
    h1, h2, h3{
        text-align: center;
    }
    h1{
        font-size: 10vw;
        width: 88vw;
        margin-bottom: 25px;
    }
    h2{
        width: 88vw;
        font-size: 6vw;
    }
    p{
        width: 85vw;
        margin: 30px 0;
    }
}