.presentation-container{
    background-image: url(../../../assets/images/Banner-4.png);
    padding: 180px 20px;
    background-size: cover;
    align-items: center;
}
.row{
    gap: 35px;
}
.left{
    width: 30vw;

}
.left img{
    width: 40vw;
}
.right{
    width: 50vw;
}
.presentation-container-in{
    align-items: center;
}
h1{
    color: #44C4F1 ;
    font-size: 5vw;
    font-weight: 800;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: #135464 0px 0px 13px ;
    text-align: center;
    width: 100%;
}
h2{
    font-size: 35px;
    color:  #9931FF;
    text-shadow: #2c0830 0px 0px 13px ;
    font-family: 'Open Sans', cursive;
    font-weight: 900;
    text-align: center;
    width: 80%;
}
h3{
    text-transform: uppercase;    
    color: #fff;
    font-family: 'Open Sans', cursive;
    font-weight: 500;
    margin: 0 auto 30px;
    text-align: center;
    text-align: center;

}
p{
    color: #fff;
    width: 75%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Open Sans', cursive;
    margin: 30px;

}
button{
    width: 170px;
    height: 52px;
    font-size: 19px;
    border-radius: 15px;
    color: #fff;
    background-color: #44C4F1;
}
button:hover{
    background-color: #9931FF;
}
@media screen and (max-width:745px){
    .presentation-container{
        align-items: center;
        padding: 50px 0;
    }
    h1, h2, h3{
        text-align: center;
    }
    h1{
        font-size: 10vw;
        width: 88vw;
        margin-bottom: 25px;
    }
    h2{
        width: 88vw;
        font-size: 6vw;
    }
    p{
        width: 85vw;
        margin: 30px 0;
    }
    .left img{
        width: 80vw;
    }
}